page-manager-profile {
    .toolbar-background {
        border-color: #ffffff;
        background: #ffffff;
    }
    ion-grid.grid {
        padding: 0px;
    }
    .images-box {
        position: relative;
        display: block;
        width: 100%;
        padding: 20px 0px;
        text-align: center;
        background: #fff;
        padding-bottom: 50px;
    }
    .inner-images-box {
        position: relative;
        width: 140px;
        height: 140px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        border-radius: 100%;
    }
    .inner-images-box img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
    .images-box ion-icon {
        position: absolute;
        background: #20ada3;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        font-size: 20px;
        padding: 10px;
        color: #fff;
        margin-top: -24px;
        left: 50%;
        transform: translate(-50%,-0%);
    }
   
   
    ion-grid.background-f.grid {
        background: #fff;
        padding: 0px 0px 0px;
    }
    ion-grid.background-f.grid h2{
        font-family: 'Muli', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #3d3d3d;
        margin: 0px;
        margin-bottom: 20px;
        margin-top: 2px;
    }
    ion-grid.background-f.grid p{
        font-family: 'Muli', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #3d3d3d;
        margin: 0px;
        opacity: 0.8;
    }
    ion-grid.background-f.two.grid {
        padding: 2px 0px 10px;
    }
    ion-grid.background-f.two.grid p{
        font-family: 'Muli', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #010101;
        margin: 0px;
        opacity: 0.8;
    }
    button.edit-profile {
        margin: 20px 0px;
        padding: 10px 20px;
        color: #000000;
        font-family: 'Muli', sans-serif;
        font-size: 16px;
        font-weight: 600;
        background: #d4d4d4;
        text-transform: uppercase;
    }
}
