page-care {
    .scroll-content {
        background: #eeeeee;
    }
    ion-grid.care-page {
        padding: 0px;
    }
    ion-row.care-row {
        background: #fff;
        padding: 20px 10px;
        border: 1px solid #e0e0e0;
        margin-top: 7px;
    }
    ion-row.care-row h3{
        font-size: 16px;
        color: #000000;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
        margin: 0px;
    }
    ion-row.care-row p{
        font-family: 'Muli', sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #878787;
        margin: 0px;
        margin-top: 5px;
    }
    ion-row.care-row span{
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto;
        border: 1px solid #12a89d;
        border-radius: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    ion-row.care-row span img{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 40px;
    }
    .toolbar-background {
        border-color: #ffffff;
        background: #ffffff;
    }

}
