<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649074438019-e2m68aak8ie3c6tc1t8g5dhcqar1fccd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649074438019-e2m68aak8ie3c6tc1t8g5dhcqar1fccd</string>
	<key>API_KEY</key>
	<string>AIzaSyCQti__7jk-rz_eHusTejWQJI_YvnTKYS4</string>
	<key>GCM_SENDER_ID</key>
	<string>649074438019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lavanya.wema</string>
	<key>PROJECT_ID</key>
	<string>wema-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>wema-plus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649074438019:ios:fba15fff044a0479</string>
	<key>DATABASE_URL</key>
	<string>https://wema-plus.firebaseio.com</string>
</dict>
</plist>