page-adhoc-payment-receipt {
    button.done-button {
        width: 100%;
        padding: 12px;
        font-family: 'Muli', sans-serif;
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        background: #faa615;
    }
}
