page-email-verify-popup {
    button.button-md {
        background: #fdb913;
        padding: 14px 40px;
        font-size: 14px;
        color: #fff;
        font-family: 'Muli', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
}
