page-past-visits-report-pop-up {
.btn-back { font-size: 28px  !important;  color:#13a89e  !important; float:left  !important; width:15%  !important;  padding-left: 15px  !important; }
 .title-with-back-btn { float:left  !important; width:85% !important;}   
}
