page-cart {
    h1,h2,h3,h4,h5,h6,p{
        margin: 0px;
    }
    .scroll-content {
        background: #eeeeee;
    }
    ion-grid.grid {
        background: #fff;
        padding: 14px 0px;
        margin-top: 7px;
    }
    img{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0%);
        width: 80%;
    }
   .top-text h6{
        font-size: 16px;
        font-weight: bold;
        color: #000;
   }
       .top-text p{
            font-size: 13px;
            font-weight: 600;
            color: #050505;
            font-family: 'Muli', sans-serif;
        } 
        .date-and-time p{
            font-size: 13px;
            font-weight: 400;
            color: #878787;
            font-family: 'Muli', sans-serif;
        }
        .date-and-time h6{
            font-size: 13px;
            font-weight: 600;
            color: #050505;
            font-family: 'Muli', sans-serif;
            margin-top: 3px;
        }
        h5.money {
            font-size: 18px;
            font-weight: bold;
            color: #000000;
            font-family: 'Muli', sans-serif;
            text-align: right;
        }
        .date-and-time > div{
            margin-top: 10px;
        }
        ion-icon.bottom-icon {
            position: absolute;
            bottom: 0px;
            right: 10px;
            color: #de6c70;
            font-size: 16px;
        }
        ion-icon.icon.icon-md.ion-ios-arrow-down {
            position: relative;
            top: 1px;
        }
        h6.more-button.two {
            display: none;
        }
       .date-and-time h6 { 
            z-index: -99;
        }

        ion-grid.checkout.grid h3{
            font-size: 18px;
            font-weight: 600;
            color: #878787;
            font-family: 'Muli', sans-serif;
        }
        ion-grid.checkout.grid h1{
            font-size: 22px;
            font-weight: bold;
            color: #13a89e;
            font-family: 'Muli', sans-serif;
        }
        ion-grid.checkout.grid button{
            background: #fdb913;
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            font-family: 'Muli', sans-serif;
            text-transform: uppercase;
            padding: 14px 10px;
        }

        ion-grid.checkout.grid button ion-icon{
            line-height: 0;
            position: relative;
            top: 3px;
            left: 2px;
        }



    @media screen and (max-width: 100000px) and (min-width: 480px){
        .date-time{
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }
        .duration{
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }
    }
}
