page-map {
    .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }

      .box-mapview-listing
      {
        top: 9px;
    
    left: 15px;
    width: 101px;
      }
}
