<!--
  Generated template for the ServicesInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->




<ion-content>
 <!--    <ion-grid class="household-page">
 
 
 
        <ion-row>
             <ion-col col-12>
                 <ul class="household-page-menu">
                     <a *ngFor="let item of items" [ngClass]="{'active': carInfo == 'item1'}" (click)="toggleClass('item1')"><li><ion-icon name="ios-menu"></ion-icon>List View</li></a>
 
                     <a *ngFor="let item of items" [ngClass]="{'active': carInfo == 'item2'}"
                     (click)="toggleClass('item2')"><li><ion-icon name="md-map"></ion-icon>Map View</li></a>
 
                     <a *ngFor="let item of items" [ngClass]="{'active': carInfo == 'item3'}" 
                     (click)="toggleClass('item3')"><li><ion-icon name="md-podium"></ion-icon>Popularity</li></a>
 
                     <a *ngFor="let item of items" [ngClass]="{'active': carInfo == 'item4'}" 
                     (click)="toggleClass(item3)"><li><ion-icon name="md-options"></ion-icon>Filter</li></a>
                 </ul>
             </ion-col>
        </ion-row>
    </ion-grid> -->
 
    <ion-grid class="body-itam-grid">
         <ion-row class="body-itam-box">
                 <ion-col col-8>
                     <h2>Dawn Recruitment</h2>
                     <p>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                     </p>
                 </ion-col>
                 <ion-col col-4 class="right-image"><img src="assets/imgs/epoch_logo.png"></ion-col>
                 
                 <ion-col col-8 class="body-text">
                     <p>Dawn recruitment is a fast growing recruitment agency in the South East, supplying staff in various sectors both public and private e.g Care homes, hospitals, catering... </p>
                 </ion-col>
                 <ion-col col-12 class="pin-box">
                     <ion-col col-5>
                        <span><ion-icon name="ios-pin"></ion-icon> Portsmouth</span>
                     </ion-col>
                     <ion-col col-7>
                         <span><ion-icon name="md-navigate"></ion-icon> 8 miles from you</span>
                     </ion-col>
                 </ion-col> 
            </ion-row>
 
            <ion-row class="body-itam-box">
                 <ion-col col-8>
                     <h2>Dawn Recruitment</h2>
                     <p>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                     </p>
                 </ion-col>
                 <ion-col col-4 class="right-image"><img src="assets/imgs/epoch_logo.png"></ion-col>
                 
                 <ion-col col-8 class="body-text">
                     <p>Dawn recruitment is a fast growing recruitment agency in the South East, supplying staff in various sectors both public and private e.g Care homes, hospitals, catering... </p>
                 </ion-col>
                 <ion-col col-12 class="pin-box">
                     <ion-col col-5>
                        <span><ion-icon name="ios-pin"></ion-icon> Portsmouth</span>
                     </ion-col>
                     <ion-col col-7>
                         <span><ion-icon name="md-navigate"></ion-icon> 8 miles from you</span>
                     </ion-col>
                 </ion-col> 
            </ion-row>
 
 
            <ion-row class="body-itam-box">
                 <ion-col col-8>
                     <h2>Dawn Recruitment</h2>
                     <p>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                     </p>
                 </ion-col>
                 <ion-col col-4 class="right-image"><img src="assets/imgs/epoch_logo.png"></ion-col>
                 
                 <ion-col col-8 class="body-text">
                     <p>Dawn recruitment is a fast growing recruitment agency in the South East, supplying staff in various sectors both public and private e.g Care homes, hospitals, catering... </p>
                 </ion-col>
                 <ion-col col-12 class="pin-box">
                     <ion-col col-5>
                        <span><ion-icon name="ios-pin"></ion-icon> Portsmouth</span>
                     </ion-col>
                     <ion-col col-7>
                         <span><ion-icon name="md-navigate"></ion-icon> 8 miles from you</span>
                     </ion-col>
                 </ion-col> 
            </ion-row>
 
 
            <ion-row class="body-itam-box">
                 <ion-col col-8>
                     <h2>Dawn Recruitment</h2>
                     <p>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                         <ion-icon name="ios-star"></ion-icon>
                     </p>
                 </ion-col>
                 <ion-col col-4 class="right-image"><img src="assets/imgs/epoch_logo.png"></ion-col>
                 
                 <ion-col col-8 class="body-text">
                     <p>Dawn recruitment is a fast growing recruitment agency in the South East, supplying staff in various sectors both public and private e.g Care homes, hospitals, catering... </p>
                 </ion-col>
                 <ion-col col-12 class="pin-box">
                     <ion-col col-5>
                        <span><ion-icon name="ios-pin"></ion-icon> Portsmouth</span>
                     </ion-col>
                     <ion-col col-7>
                         <span><ion-icon name="md-navigate"></ion-icon> 8 miles from you</span>
                     </ion-col>
                 </ion-col> 
            </ion-row>
     
     
    </ion-grid>
 
 </ion-content>
 
