page-model {
    ion-grid.view-report.grid {
        padding: 15px 0px;
        border-bottom: 1px solid #ededed;
    }
    ion-grid.view-report.grid h2 {
        margin: 0px;
        display: block;
        width: 100%;
        color: #5f5f5f;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        font-family: 'Muli', sans-serif;
        margin-bottom: 0px;
        padding: 16px 0px 0px;
    }
    ion-grid.view-report.grid h2 span {
        color: #282828;
    }    
    ion-grid.popup-check-out.grid{
        padding: 15px 0px;
        border-bottom: 1px solid #ededed;
    }
    ion-grid.popup-check-out.grid h2{
        color: #c4c4c4;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Muli', sans-serif;
        margin: 0px;
        text-transform: uppercase;
        display: inline-block;
        width: 47%;
    }
    ion-grid.popup-check-out.grid button{
        color: #c4c4c4;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Muli', sans-serif;
        margin: 0px;
        text-transform: uppercase;
        background: transparent;
        border: none;
        margin: 0px !important;
        padding: 10px;
    }
    ion-grid.popup-check-out.grid .submit{
        background: #13a89e;
        color: #fff;
    }
    ion-grid.popup-check-text.grid{
        padding: 15px 0px;
        border-bottom: 1px solid #ededed;
    }
    ion-grid.popup-check-text.grid h2{
        margin: 0px;
        display: block;
        width: 100%;
        color: #282828;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        font-family: 'Muli', sans-serif;
        margin: 0px;
    }
    ion-grid.popup-check-text.grid h2 span{
        color: #bcbcbc;
    }
    
    .text-input {
        margin: 0px 0px;
        padding: 3px 0px 60px;
    }
    .text-input::placeholder {
        margin: 0px;
        display: block;
        width: 100%;
        color: #bcbcbc;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        font-family: 'Muli', sans-serif;
        margin: 0px;
    }
    .item {
        padding-left: 0px;
    }
    .item-inner {
        padding-right: 0px !important;
        border-bottom: none !important;
        box-shadow: none !important;
    }
}
