<!--
  Generated template for the AddFriendsMemberAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button *ngIf="appState.CartCount>0" clear style="color:black;background: transparent">
        {{appState.CartTimer}}
      </button>
      <button *ngIf="appState.CartCount>0" (click)="viewCart()" clear style="color:black;background: transparent">
        Cart({{appState.CartCount}})
      </button>
    </ion-buttons>
    <ion-title>Add Friends/Family Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <ion-label style="font-size: medium">
      <b>User Type</b>
    </ion-label>
    <ion-list radio-group [(ngModel)]="registerType" style="margin-top: 10px">
      <ion-item no-lines>
        <ion-label>New User</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Already Registered User</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
    </ion-list>
    <div [ngStyle]="{'bottom':bottomPad}" style="background: white;width: 100%;position: fixed;left:0px;">
      <button type="submit" class="custom-button" ion-button style="float:right;right: 10px" (click)="next()">Next</button>
    </div>
  </div>
</ion-content>