page-appointmentpagethree {
        ion-grid.appointment-box h2{
            display: block;
            width: 100%;
            color: #000000;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Muli', sans-serif;
            margin-bottom: 20px;
        }
        ion-grid.appointment-box h3{
            color: #000000;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
            font-family: 'Muli', sans-serif;
            margin: 0px;
            margin-bottom: 8px;
        }
        ion-grid.appointment-box p{
            color: #9c9c9c;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            font-family: 'Muli', sans-serif;
            margin: 0px;
        }
        ion-grid.appointment-box h4{
            color: #17a9a0;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
            font-family: 'Muli', sans-serif;
            margin: 0px;
            margin-bottom: 8px;
            text-transform: uppercase;
        }
        ion-grid.appointment-box h4 a{
            color: #17a9a0;
            text-decoration: none;
            font-family: 'Muli', sans-serif;
            margin: 0px;
            margin-bottom: 8px;
            text-transform: uppercase;
            width: 100%;
            display: block;
        }
        .ion-md-play, .ion-ios-play{
            font-size: 13px;
            padding-top: 3px;
        }
        .button-box {
            text-align: center;
            margin-top: 20px;
        }
        .button-box p{
            text-align: center;
            color: #8c8c8c;
            font-size: 11px;
            font-weight: 400;
            text-decoration: none;
            font-family: 'Muli', sans-serif;
        }
        .button-box p a{
            color: #3d3d3d;
            font-size: 13px;
            font-weight: 700;
            font-family: 'Muli', sans-serif;
        }
        .button-box h5{
            color: #9c9c9c;
            font-size: 14px;
            font-weight: 600;
            font-family: 'Muli', sans-serif;
            margin-bottom: 15px;
        }
        .button-box button{
          background:#17a9a0;
          color: #fff;
          padding: 10px 15px;
          width: 200px;
          font-size: 14px;
          font-weight: 600;
          font-family: 'Muli', sans-serif;
          text-transform: uppercase;
          margin-bottom: 20px;
         
        }
        ion-grid.appointment-box.grid {
            box-shadow: 0 0 5px rgba(0, 0, 0,0.3);
            padding-bottom: 26px;
        }
    
    
        ion-grid.view-report.grid h2{
            margin: 0px;
            display: block;
            width: 100%;
            color: #5f5f5f;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            font-family: 'Muli', sans-serif;
            margin-bottom: 0px;
            padding: 16px 0px 0px;
        }
        ion-grid.view-report.grid h2 span{
            color: #282828;
        }
        ion-grid.view-report.grid p{
            margin: 0px;
            color: #282828;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Muli', sans-serif;
        }
        ion-grid.view-report.grid h3{
            margin: 0px;
            color: #282828;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            font-family: 'Muli', sans-serif;
        }
        ion-grid.view-report.grid h3 span{
            font-weight: 400;
        }
        ion-grid.view-report.grid .text-box p{
            font-size: 13px;
            font-weight: 400;
            font-family: 'Muli', sans-serif;
            color: #000;
            width: auto;
            display: inline-block;
            margin: 6px 0px;
            margin-right: 12px;
        }
        ion-grid.view-report.grid button{
            background: transparent;
            border: 1px solid #17a9a0;
            color: #17a9a0;
            font-family: 'Muli', sans-serif;
            font-weight: 400;
            font-size: 14px;
            padding: 10px;
            margin: 10px 0px;
            text-transform: uppercase;
            box-shadow: 0px 2px 2px rgba(0, 0, 0,0.3)
        }
        ion-grid.view-report.grid ion-icon{
            color: #17a9a0;
        }
        ion-grid.view-report.grid:first-child {
            padding: 0px 0px;
            border-top: none;
        }
        ion-grid.view-report.grid {
            padding: 15px 0px;
            border-top: 1px solid #ededed;
        }
        .mine-box {
            margin-bottom: 20px;
        }
        .mine-box:last-child  {
            margin-bottom: 0px;
        }

        .button-box .button-two{
            background: #fdb915;
        }
        .button-box button.button-three {
            border: 1px solid #17a9a0;
            color: #17a9a0;
            background: #fff;
        }

        @media screen and (max-width: 100000px) and (min-width: 480px){
            .box-two {
                width: 49%;
                display: inline-block;
                vertical-align: top;
            }
            .box-one {
                width: 49%;
                display: inline-block;
                vertical-align: top;
            }
            .text-box {
                width: 60%;
                display: inline-block;
                vertical-align: top;
            }
            .button-box-two{
                width: 38%;
                display: inline-block;
                vertical-align: top;
            }
            ion-grid.view-report.grid button {
                margin: 4px 0px;
            }
            .mine-box {
                margin-bottom: 30px;
            }
            .mine-box:last-child  {
                margin-bottom: 0px;
            }
            ion-grid.view-report.grid .text-box p {
                font-size: 13px;
                font-weight: 400;
                font-family: 'Muli', sans-serif;
                color: #000;
                width: auto;
                display: inline-block;
                margin: 6px 0px;
                margin-right: 12px;
        }
        .button-box button {
            background: #17a9a0;
            color: #fff;
            padding: 10px 20px;
            width: auto;
            font-size: 14px;
            font-weight: 600;
            font-family: 'Muli', sans-serif;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

}
}
