page-email-thread {
    .form-rounded {
        border-radius: 15px;
        width: 100%;
        height: 200px;
        background-color: #ffff;
        padding: 5px;
        color: gray;
        font-size: large;
    }
    .button-md { background-color: #13a89e; }
    .date-reply { font-size: 12px;
        color: #13a89e; }
}
